<div class="container" fxLayout="row" fxLayoutGap="30px">
  <div class="product-thumbnail">
    <div class="product-img">
      <div>
        <p class="img-text">200 x 400</p>
      </div>
    </div>
    <div class="product-footer">
      <span fxLayout="row" fxLayoutAlign="start">
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
      </span>
      <p class="product-title">Product Title</p>
      <p class="product-price">$200.00</p>
    </div>
  </div>

  <div class="product-thumbnail">
    <div class="product-img">
      <div>
        <p class="img-text">200 x 400</p>
      </div>
    </div>
    <div class="product-footer">
      <span fxLayout="row" fxLayoutAlign="start">
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
      </span>
      <p class="product-title">Product Title</p>
      <p class="product-price">$200.00</p>
    </div>
  </div>

  <div class="product-thumbnail">
    <div class="product-img">
      <div>
        <p class="img-text">200 x 400</p>
      </div>
    </div>
    <div class="product-footer">
      <span fxLayout="row" fxLayoutAlign="start">
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
      </span>
      <p class="product-title">Product Title</p>
      <p class="product-price">$200.00</p>
    </div>
  </div>

  <div class="product-thumbnail">
    <div class="product-img">
      <div>
        <p class="img-text">200 x 400</p>
      </div>
    </div>
    <div class="product-footer">
      <span fxLayout="row" fxLayoutAlign="start">
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
      </span>
      <p class="product-title">Product Title</p>
      <p class="product-price">$200.00</p>
    </div>
  </div>
</div>

<div class="container" fxLayout="row" fxLayoutGap="30px">
  <div class="product-thumbnail">
    <div class="product-img">
      <div>
        <p class="img-text">200 x 400</p>
      </div>
    </div>
    <div class="product-footer">
      <span fxLayout="row" fxLayoutAlign="start">
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
      </span>
      <p class="product-title">Product Title</p>
      <p class="product-price">$200.00</p>
    </div>
  </div>

  <div class="product-thumbnail">
    <div class="product-img">
      <div>
        <p class="img-text">200 x 400</p>
      </div>
    </div>
    <div class="product-footer">
      <span fxLayout="row" fxLayoutAlign="start">
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
      </span>
      <p class="product-title">Product Title</p>
      <p class="product-price">$200.00</p>
    </div>
  </div>

  <div class="product-thumbnail">
    <div class="product-img">
      <div>
        <p class="img-text">200 x 400</p>
      </div>
    </div>
    <div class="product-footer">
      <span fxLayout="row" fxLayoutAlign="start">
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
      </span>
      <p class="product-title">Product Title</p>
      <p class="product-price">$200.00</p>
    </div>
  </div>

  <div class="product-thumbnail">
    <div class="product-img">
      <div>
        <p class="img-text">200 x 400</p>
      </div>
    </div>
    <div class="product-footer">
      <span fxLayout="row" fxLayoutAlign="start">
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
        <a>
          <mat-icon>star_rate</mat-icon>
        </a>
      </span>
      <p class="product-title">Product Title</p>
      <p class="product-price">$200.00</p>
    </div>
  </div>
</div>
