<mat-card class="media-wrapper">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="media" fxFlex="33.33%" fxLayoutAlign="start center">
      <div fxLayout="row">
        <div fxLayoutAlign="center center">
          <fa-icon class="media-icon" [icon]="faTruck"></fa-icon>
        </div>
        <span>
          <h3 class="h3-media">Hurtig Levering</h3>
          <h4 class="h4-media">97% af vores kunder modtager inden 24 timer</h4>
        </span>
      </div>
    </div>

    <div class="media" fxFlex="33.33%" fxLayoutAlign="start center">
      <div fxLayout="row">
        <div fxLayoutAlign="center center">
          <fa-icon class="media-icon" [icon]="faHandshake"></fa-icon>
        </div>
        <span>
          <h3 class="h3-media">Gode Tilbud</h3>
          <h4 class="h4-media">
            Gavekort, pointsystem & kampagner? Det har vi.
          </h4>
        </span>
      </div>
    </div>

    <div class="media" fxFlex="33.33%" fxLayoutAlign="start center">
      <div fxLayout="row">
        <div fxLayoutAlign="center center">
          <fa-icon class="media-icon" [icon]="faAward"></fa-icon>
        </div>
        <span>
          <h3 class="h3-media">Behagelig Service</h3>
          <h4 class="h4-media">
            95% tilfredshed fra vores kunder på TrustPilot
          </h4>
        </span>
      </div>
    </div>
  </div>
</mat-card>
