<div fxLayout="row" fxLayoutGap="15px">
  <div class="categories-item" fxLayout fxLayoutGap="15px">
    <div class="category-img" fxLayoutAlign="start center">
      <div fxLayoutAlign="center center">
        <img class="image" src="../../../assets/images/categories/DP_1.jpg" />
      </div>
    </div>
    <div class="category-txt" fxLayoutAlign="end center">
      <div>
        <h3 class="h3-cat">Kæmpe udvalg</h3>
        <h2 class="h2-cat">Diamond Painting</h2>
      </div>
    </div>
  </div>

  <div class="categories-item" fxLayout fxLayoutGap="15px">
    <div class="category-img" fxLayoutAlign="start center">
      <div fxLayoutAlign="center center">
        <img
          class="image"
          src="../../../../assets/images/categories/puz_1.png"
        />
      </div>
    </div>
    <div class="category-txt" fxLayoutAlign="end center">
      <div>
        <h3 class="h3-cat">Behageligt Soriment</h3>
        <h2 class="h2-cat">Puslespil</h2>
      </div>
    </div>
  </div>

  <div class="categories-item" fxLayout fxLayoutGap="15px">
    <div class="category-img" fxLayoutAlign="start center">
      <div fxLayoutAlign="center center">
        <img
          class="image"
          src="../../../../assets/images/categories/div_01.png"
        />
      </div>
    </div>
    <div class="category-txt" fxLayoutAlign="end center">
      <div>
        <h3 class="h3-cat">Samt meget</h3>
        <h2 class="h2-cat">And-et</h2>
      </div>
    </div>
  </div>
</div>
