<mat-toolbar class="header" color="primary">
  <div fxHide.gt-xs fxFlex fxLayoutAlign="start start">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div fxFlex fxLayoutAlign="start start" fxHide.lt-sm>
    <a [matMenuTriggerFor]="menu" style="padding-top: 36px">
      SHOP
      <mat-icon>keyboard_arrow_down</mat-icon>
      <mat-menu class="matMenu" #menu="matMenu">
        <div fxLayout="row" fxLayoutGap="15px">
          <div class="matMenu-item-wrapper" fxLayout="column">
            <p>Diamond Paintings</p>
            <a class="matMenu-item" (click)="goToCollection()"> Nyheder </a>
            <a class="matMenu-item" (click)="goToCollection()">
              Firkantet Krystaller
            </a>
            <a class="matMenu-item" (click)="goToCollection()">
              Runde Krystaller
            </a>
            <a class="matMenu-item" (click)="goToCollection()">
              Personligt Motiv
            </a>
            <a class="matMenu-item" (click)="goToCollection()"> Tilbehør </a>
          </div>

          <div class="matMenu-item-wrapper" fxLayout="column">
            <p>Diamond Paintings</p>
            <a class="matMenu-item" (click)="goToCollection()"> Nyheder </a>
            <a class="matMenu-item" (click)="goToCollection()">
              Firkantet Krystaller
            </a>
            <a class="matMenu-item" (click)="goToCollection()">
              Runde Krystaller
            </a>
            <a class="matMenu-item" (click)="goToCollection()">
              Personligt Motiv
            </a>
            <a class="matMenu-item" (click)="goToCollection()"> Tilbehør </a>
          </div>
        </div>
      </mat-menu>
    </a>
    <a routerLink="/home/contact-us">KONTAKT OS</a>
  </div>
  <div fxFlex fxLayoutAlign="center center">
    <!-- <a routerLink="/">alt til hygge</a> -->
    <div routerLink="#">
      <img class="logo" src="../../../assets/images/logo/alttilhygge-2.png" />
    </div>
  </div>
  <div fxFlex fxLayoutAlign="end end"><a routerLink="/">CART</a></div>
</mat-toolbar>
