$primary: #5cb85c;

[aria-label="primary"] {
  background-color: $primary;
}

.img-container {
  position: relative;
  text-align: center;
}

.banner-img {
  width: 100%;
  max-height: 600px;
}

.centered {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 23px;
  color: #5cb85c;
}
.exclusive-products {
  padding-top: 30px;
  min-height: 450px;
}
.h2-text {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 0.07em;
  font-weight: 400;
  padding-bottom: 30px;
}
.h2-text::after {
  margin-top: 10px;
  background: none repeat scroll 0 0 $primary;
  content: "";
  display: flex;
  height: 10px;
  position: absolute;
  width: 100px;
  left: 45%;
}
.h3-text {
  text-align: center;
  color: $primary;
  letter-spacing: 0.07em;
  font-weight: 400;
}

.categories-banner {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.wrapper {
  max-height: 100%;
}

.bg-img {
  max-width: 100%;
  max-height: 80%;

  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.media-container {
  padding: 15px;
  margin-left: 55px;
  margin-right: 55px;
}

.newsletter-container {
  margin-top: 30px;
  padding: 15px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: $primary !important;
}
