<section>
  <img class="banner-img" src="../../../assets/images/slider/1.jpg" />
</section>

<section
  class="categories-banner"
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="15px"
>
  <div class="categories-item" fxLayout fxLayoutGap="15px">
    <img class="category-img" src="../../../assets/images/categories/11.jpg" />
  </div>
  <div class="categories-item" fxLayout fxLayoutGap="15px">
    <img class="category-img" src="../../../assets/images/categories/11.jpg" />
  </div>
  <div class="categories-item" fxLayout fxLayoutGap="15px">
    <img class="category-img" src="../../../assets/images/categories/11.jpg" />
  </div>
</section>

<section
  class="exclusive-products"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="15px"
>
  <h3 class="h3-text">Ekslusive Produkter</h3>
  <h2 class="h2-text">Udvalgte Produkter</h2>
</section>
