<section>
  <img class="banner-img" src="../../../assets/images/slider/1.jpg" />
</section>

<section
  class="categories-banner"
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="15px"
>
  <div class="categories-item" fxLayout fxLayoutGap="15px">
    <div class="category-img" fxLayoutAlign="start center">
      <p>Test</p>
    </div>
    <div class="category-txt" fxLayoutAlign="end center">
      <p>350 x 200</p>
    </div>
  </div>
  <div class="categories-item" fxLayout fxLayoutGap="15px">
    <div class="category-txt" fxLayoutAlign="end center">
      <p>350 x 150</p>
    </div>
  </div>
  <div class="categories-item" fxLayout fxLayoutGap="15px">
    <div class="category-txt" fxLayoutAlign="end center">
      <p>350 x 150</p>
    </div>
  </div>
</section>

<section
  class="exclusive-products"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="15px"
>
  <h3 class="h3-text">Ekslusive Produkter</h3>
  <h2 class="h2-text">Udvalgte Produkter</h2>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="TILBUD">
      <app-product-thumbnail></app-product-thumbnail>
    </mat-tab>
    <mat-tab label="NYE PRODUKTER">
      <app-product-thumbnail></app-product-thumbnail>
    </mat-tab>
    <mat-tab label="MEST POPULÆRE">
      <app-product-thumbnail></app-product-thumbnail>
    </mat-tab>
  </mat-tab-group>

  <br />
  <br />
</section>

<section>
  <div class="wrapper">
    <!-- <img class="bg-img" src="../../../assets/images/puzzles/welcome_1.jpg" /> -->
  </div>
</section>
