<section class="img-container">
  <img class="banner-img" src="../../../assets/images/puzzles/welcome_1.jpg" />
  <!-- <div class="centered">Vi har brikker at flytte rundt på</div> -->
</section>

<section
  class="categories-banner"
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="15px"
>
  <app-categories></app-categories>
</section>

<section
  class="exclusive-products"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="15px"
>
  <h3 class="h3-text">Ekslusive Produkter</h3>
  <h2 class="h2-text">Udvalgte Produkter</h2>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="TILBUD">
      <app-product-list-view></app-product-list-view>
    </mat-tab>
    <mat-tab label="NYE PRODUKTER">
      <app-product-list-view></app-product-list-view>
    </mat-tab>
    <mat-tab label="MEST POPULÆRE">
      <app-product-list-view></app-product-list-view>
    </mat-tab>
  </mat-tab-group>

  <br />
  <br />
</section>

<section class="media-container">
  <app-media-view></app-media-view>
</section>

<section class="newsletter-container">
  <app-newsletter-view></app-newsletter-view>
</section>
