<div class="container">
  <section fxLayout="row" class="page-header">
    <div fxLayoutAlign="start center" style="width: 100%">
      <div>
        <h2>KOLLEKTION</h2>
      </div>
    </div>
    <div fxLayoutAlign="end center">
      <div>
        <h3><a>HOME</a>/<a>COLLECTION</a></h3>
      </div>
    </div>
  </section>

  <div class="wrapper">
    <section class="filter-list" fxFlex="25%">
      <app-filter-list></app-filter-list>
    </section>

    <section class="collection-container" fxFlex="75%">
      <p>Collection is here</p>
    </section>
  </div>
</div>
